.header-25 {
  float: left;
  height: auto;
  width: 25%;
  padding: 15px;
}
.header-75 {
  float: left;
  width: 75%;
  margin-right: 0;
  padding:15px;
}

.header-100 {
  float: left;
  height: auto;
  width: 100%;
}

.header-img{
  width: 100%;
  height: auto;
  max-width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-group{
  width: 100%;
  margin-top: 20px;
}

.header-button{
  position: relative;
  float: left;
  color: white;
  border-color: #3f9143;
  background-color: #4CAF50;
  width:25%;
}

.header-group{
  margin: 1px;
  width: calc(100% - 2px);
}

.header-logout{
  position: relative;
  background-color: #00a1ff;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 25%;
  opacity: 0.9;
  float: right;
}

.header-modify{
  position: relative;
  margin-right: 5px;
  background-color: #00a1ff;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 25%;
  opacity: 0.9;
  float: right;
}

.header-user{
  position: relative;
  float: right;
  margin:0;
  margin-right: 20px;
  font-size: 20px;
}
