html,
body {
  height: 100%;
  margin: 0;
}

.header-spacer {
  display: block;
  width: 100%;
  min-height: 120px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #CCC !important;
}


@media only screen and (max-width: 480px) {

  .font-display {
    font-size: 4rem !important;
  }
}

.login-content {
  width: 50%;
}



@media (min-width: 481px) {

  .font-display {
    font-size: 1.2rem !important;
  }

  img.brand_img {
    max-width: 120px;
  }
}

.header-group {
  margin: 1px;
  width: calc(100% - 2px);
}

.header-logout {
  position: relative;
  background-color: #00a1ff;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 25%;
  opacity: 0.9;
  float: right;
}

.header-modify {
  position: relative;
  margin-right: 5px;
  background-color: #00a1ff;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 25%;
  opacity: 0.9;
  float: right;
}

.header-user {
  position: relative;
  float: right;
  margin: 0;
  margin-right: 20px;
  font-size: 1 rem;
}