body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/bckg.png");
    background-size: cover;
}

.title {
    margin-left: auto;
    max-width:400px;
}

h1 {
    color: white;
}

.div-body{
    display: flex;
    flex: 1 0 auto;
  
  }
  

input[type=text],
input[type=password] {
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #00a6ff;
    box-sizing: border-box;
    border-radius: 5px;

}
label{
    font-weight: 100;
}

.login-content{
    width: 50%;
}

@media (max-width: 480px) {

    input[type=text],
    input[type=password] {

        font-size: 1.5rem;
    }

    .login-content{

        width: 100%;

    }

    img.brand_img {
        max-width: 120px;
    }
    img.app_img {
        max-width: 50%;
    }
    
input[type=text],
input[type=password] {
    width: 100%;
    padding: 3px 20px;
    margin: 0px 0;

}
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 15px !important;
    width: 50%;
}

button:hover {
    opacity: 1;
    border: 2px solid white;
}

.imgcontainer {
    text-align: center;
    margin: 12px 0 12px 0;
}

.brand_img {
    max-width: 200px;
}

.rsi_img {
    max-width: 100px;
}

.container {
    padding: 16px;
}
