html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #888;
}

* {
  box-sizing: border-box;
}


.div-body {
  flex: 1 0 auto;

}

.footer {
  flex-shrink: 0;
}

.footer {

  width: 100%;
  background-color: #c2c3c4;
  color: white;
  text-align: center;
}



.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.col-100 {
  float: left;
  width: calc(100% - 30px);
  margin: 5px 15px;
  height: auto;
}

.col-100-coordinates {
  float: left;
  width: 100%;
  margin: 0px 0px;
}

.col-100-top {
  float: left;
  width: 100%;
  margin-top: 20px;
}

.col-75 {
  float: left;
  height: auto;
  width: 75%;
  margin-top: 6px;
}

.col-25 {
  float: left;
  height: auto;
  width: calc(25% - 20px);
  margin-top: 6px;
  margin-left: 20px;
}

.col-25-images {
  margin-right: 20px;
  margin-left: 5px;
}

.col-100-add {
  float: left;
  width: 100%;
}

.col-100-left {
  width: calc(100% - 15px);
  margin-left: 15px;
}

.input-add {
  margin: 5px 0 22px 0;
}

#brandPHP,
#typePHP,
#fk_operator {
  display: none;
}

#addBrand,
#addType,
#addManufacturerSlot,
#addTypeSlots,
#addTypeEstablishment,
#addBrandOperator,
#addModelSlots {
  float: right;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 48px;
  height: 48px;
  background-color: #f2f2f2;
  background-image: url(../images/add.png);
  background-repeat: no-repeat;
  background-position: center;
}

.delBrand,
.delType {
  float: right;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
  width: 48px;
  height: 48px;
  background-color: #f2f2f2;
  background-image: url(../images/del.png);
  background-repeat: no-repeat;
  background-position: center;
}

#refresh {
  float: right;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 48px;
  height: 48px;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  background-image: url(../images/refresh.png);
  background-repeat: no-repeat;
  background-position: center;
}

#map,
#map-info {
  height: 35vw;
  /* The height is 300 pixels */
  min-width: 200px;
  min-height: 200px;
  width: 99%;
  /* The width is the width of the web page */
  margin-top: 10px;
  border: 1px solid #000;
  margin: 0.5%;
  margin-top: 10px;
}

.col-99 {
  margin-top: 5px;
  float: left;
  width: 99%;
  margin-left: 1%;
}

.col-50 {
  float: left;
  text-align: left;
  width: calc(50% - 10px);
  margin: 5px;
}

.coordinates {
  float: left;
  position: relative;
  top: 20px;
  margin-left: 10px;
  text-align: left;
  width: calc(100% - 58px);
}

.savebtn:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.button {
  height: 50px;
  width: 100%;
  border: 1px solid;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  color: white;
  border-color: #3f9143;
  background-color: #4CAF50;
}

.button:hover {
  opacity: 1;
  color: black;
}

input[type=text],
input[type=password],
input[type=date],
select {
  width: 100%;
  padding: 5px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
}



@media screen and (min-width: 400px) {

  .w3-small {
      font-size: 1.5rem !important;
    }

    .w3-responsive {
      display:table !important;
    }
  
  }


textarea {
  width: 100%;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  resize: none;
}

select {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=date]:focus {
  background-color: #fff;
  outline: none;
}

.input-select-add {
  width: calc(100% - 58px);
}

.modal-div,
.modal-div-modify,
.modal-div-info,
.modal-div-error{
  display: none;
  position: fixed;
  z-index: 2030;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000a0;
  padding-top: 50px;

}

.modal-div-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
  padding-bottom: 50px;
  padding-top: 20px;
  border-radius: 10px;
}

.close_add {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 40px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  font-weight: bold;
  color: #f1f1f1;
  border: 1px solid white;
  border-radius: 5px;
}

.close_add:hover,
.close_add:focus {
  color: #f44336;
  cursor: pointer;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #e7e7e7;
  color: black;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.savebtn {
  float: right;
}

.savebtn-hidden {
  display: hidden;
  float: left;
  width: 50%;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  height: 30px;
}