<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>

            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" showFlags="None" />
        <httpErrors errorMode="DetailedLocalOnly" />
    </system.webServer>
</configuration>
