<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>

            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" showFlags="None" />
        <httpErrors errorMode="Detailed" />
        <handlers>
            <remove name="PHP_via_FastCGI1" />
            <add name="PHP via FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP7\v7.4\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
<rewrite>
  <rules>
    <rule name="Force HTTPS" enabled="true">
      <match url="(.*)" />
      <conditions>
        <add input="{HTTPS}" pattern="^OFF$" />
      </conditions>
      <action type="Redirect" url="https://{HTTP_HOST}/{REQUEST_URI}" appendQueryString="false" />
    </rule>
  </rules>
</rewrite>
  </system.webServer>
</configuration>
